@use '../../../../assets/vars' as *;
@use '../../../../assets/animations' as *;
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: $portage;
  width: fit-content;
  margin: 0 auto;
  border-radius: 12px;
  padding: 24px 40px;

  .title {
    color: $white;
  }
}

.emailContainer{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  position: relative;
}

.labelWrapper {
  position: relative;
}

.emailInput {
  background-color: $white;
  border: 2px solid $white;
  border-radius: 4px;
  outline: none;
  min-width: 200px;
  padding: 12px 24px;
  color: $black_3;
  transition: border-color 0.3s;

  &::placeholder {
    color: #4B4C4D;
  }

  &:focus-visible {
    border-color: $violet;
  }
}

.errorText {
  position: absolute;
  left: 0;
  bottom: -25px;
  font-size: 1.4rem;
  color: $red-ribbon;
}


.submitButton {
  width: fit-content;
  background-color: $black_3;
  color: $white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 12px;
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.3s;
  cursor: pointer;
  font-size: 1.8rem;

  span {
    animation: transformRevert .3s forwards;
  }

  @media(any-hover: hover) {
    &:hover {
      background-color: $violet;

      span {
        animation: transform .3s forwards;
      }
    }
  }

  &:focus-visible {
    border-color: $white;

    span {
      animation: transform .3s forwards;
    }
  }

  &:active {
    background-color: $cornflower-blue;
  }
}
