@use '../../../../assets/vars' as *;

.answersWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;

  @media (min-width: $media-tab-sm) {
    grid-template-columns: repeat(2,1fr);
  }

  @media (min-width: $media-tab-lg) {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}