@keyframes transform {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes transformRevert {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}