//Colors
$black_3: #05012C;
$white: #ffffff;
$cardinal: #d5112a;
$port-gore: #1f0f48;
$cornflower-blue: #667eea;
$fuchsia-blue: #8D58BE;
$forest-green: #1EBE1E;
$forest-green-v2: #268F26;
$violet: #1F0F48;
$red-ribbon: #EF0B28;
$portage: #8D9EED;
$ship-cove: #6674B7;

// Media Query
$media-mob-sm: 320px;
$media-mob-md: 360px;
$media-mob-md-pro: 430px;
$media-mob-md-pro-plus: 445px;
$media-mob-lg: 600px;

$media-tab-sm: 768px;
$media-tab-md: 800px;
$media-tab-lg: 1024px;

$media-des-sm: 1280px;
$media-des-md: 1440px;
$media-des-lg: 1600px;
