@use '../../assets/vars' as *;

.title {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 123%;
  color: $black_3;
  margin: 0;
  text-align: center;

  @media (min-width: $media-tab-sm) {
    font-size: 3.8rem;
  }

  @media (min-width: $media-des-sm) {
    font-size: 4.2rem;
  }

  @media (min-width: $media-des-lg) {
    font-size: 4.8rem;
  }
}