@use "../../../../assets/vars" as *;

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: $portage;
  width: fit-content;
  border-radius: 12px;
  margin: 0 auto;
  padding: 20px 40px;

  .resultTitle {
    color: $white;
  }
}

.resultCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  p {
    font-size: 1.6rem;
  }

  p > span {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.answerQuestion {
  font-weight: 700;
}

.answersTitle {
  font-size: 2rem;
}

.answerItem {
  margin-top: 12px;
}

.correctAnswer {
  color: $forest-green-v2;
}

.wrongAnswer {
  color: $red-ribbon;
}

.restartButton {
    width: fit-content;
    background-color: $black_3;
    color: $white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px 20px;
    border-radius: 12px;
    border: 2px solid transparent;
    outline: none;
    transition: border-color 0.3s;
    cursor: pointer;
    font-size: 1.8rem;

    span {
      animation: transformRevert .3s forwards;
    }

    @media(any-hover: hover) {
      &:hover {
        background-color: $violet;

        span {
          animation: transform .3s forwards;
        }
      }
    }

    &:focus-visible {
      border-color: $white;

      span {
        animation: transform .3s forwards;
      }
    }

    &:active {
      background-color: $violet;
    }
}