@use '../../../../../assets/vars' as *;

.answerButton {
  display: flex;
  justify-content: center;
  color: $white;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Montserrat",sans-serif;
  border: 3px solid transparent;
  outline: none;
  transition: border-color .3s,background-color .3s;
  border-radius: 12px;
  padding: 12px 24px;
  background-color: $cornflower-blue;
  cursor: pointer;

  @media(any-hover: hover) {
    &:hover {
      background-color: $port-gore;
    }
  }

  &:focus-visible {
    border-color: $port-gore;
    background-color: $fuchsia-blue;
  }

  &:active {
    background-color: $cornflower-blue;
  }

  &:disabled {
    color: $white;
  }
}

.selectedAnswer {
  border-color: $violet;
}

.correctAnswer {
  background-color: $forest-green;
}

.wrongAnswer {
  background-color: $cardinal;
}